.container {
    display: flex;
    /* justify-content: space-between; */
    align-items: flex-end;
    /* margin: 15px; */
    margin-top: 15px;
    margin-right: 5px;
    margin-bottom: 15px;
    margin-left: 15px;
}
.input {
    margin-right: 30px;
    width: 85%;
}