.userInfoContainer {
 display: flex;
 /* justify-content: space-between; */
 align-items: center;
 padding-left: 5px;
 padding-right: 5px;
 padding-top:10px;
 padding-bottom:10px;
 margin-bottom: 10px;
}

.username {
    
}
.userPhoto {
 margin-right: 5px;
}