.activeCard {
    background-color: #3f51b5;
    color: white;
}
.ItemWrapper {
    display: flex;
    flex-direction: row;
    position: relative;    
    border-bottom: 1px solid #dedede;
    justify-content: space-between;
    align-items: center;
}
.ItemWrapper:not(.activeCard):hover {
    background-color: #dedede;
    border-bottom: 1px solid #dedede;
}
.linkItemContainer {
    display: flex;
    align-items: center;
    min-height: 45px;
    margin-left:15px;

    padding-top: 10px;
    padding-bottom: 10px;
}
.ItemTextContent {
    display: flex;
    flex-direction: column;
}
.header {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 5px;
}
.description {
    font-size: 20px;
    margin-bottom: 10px;
}
.link {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
}
.ItemImage {
    width: 200px;
    flex-shrink: 0;
    margin-right: 10px;
}
.ItemImage > img {
    max-width: 100%;
    object-fit: cover;
}
.buttonsContainer {
    display: flex;
    margin-right: 70px;
    font-size: 20px;
    cursor: pointer;   
}
.realLink {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;    
}

a, a:active , a:visited {
    color: white;
}
