.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.container {
    display: flex;
    flex-grow: 1;
    position: relative;
    width: 100%;
}
.sideWrapper {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #f6f5f4;
}

.contentContainer {
    background-color: #fff;
    width: 100%;
}
.contentHeader {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
    border-bottom: 1px solid #dedede;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 12px;
}
.contentBody {
    display: flex;
    flex-direction: column;
}

.modalContainer {    
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 999;
}