.container {
    display: flex;
    width: 100%;
    position: relative;
}
.modal {
    position: absolute;
    background-color: blue;
    top: 25%;
    left: 50%;
    z-index: 999;
    max-width: 600px;
}
.side {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    flex-shrink: 0;
    height: 100%;
    background-color: #f6f5f4;
}
.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #fff;
    height: 100%;
}
.collectionsHeader {
    padding: 5px;
    color: #808080;
    font-size: 14px;
}
.contentHeader {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
    border-bottom: 1px solid #dedede;
    padding-left: 15px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 15px;
}