.modal {
    min-width: 20%;
    background-color: #f6f5f4;
    padding: 15px;
}
.contentItemContainer {
    display: flex;
    align-items: center;
    padding-bottom: 40px;
    margin-bottom: 20px;
    border-bottom: 1px solid #dedede;
}
.imgContainer {
    width: 100px;
    flex-shrink: 0;
    margin-right: 20px;
}
.imgContainer > img {
    max-width: 100%;
    object-fit: cover;
}
.textContent{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.textFieldWrapper {
    margin-bottom: 10px;
    width: 95%;
}
.modalHeaderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.modalHeaderContent {
    font-size: 20px;
    font-weight: 500;
    
}
.formFooter {
    display: flex;
    justify-content: flex-end;
}
.MuiFormControlroot {
    width: 90%;
}