* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
#root {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-grow: 1;
}
